

:root{
    --branco;
    --cor-de-fundo
    --fundo-senha 0024D;
    --fundo-testo:#001E40;
    --borda:#0075ff
  --roboto  Roboto sans-sens-serif;
  --roboto-moono:Roboto Mono; :-moz-only-whitespace

body{
}
color:--branco ::after
:backgrou-nd color varr cor-de fundo
font-family:var--roboto


.titulo-principal{
}
font-femily: varr --rooboto-mono
}

.titulo-secundario{
    font-size: 24px;
}

}

